---
import { DeclarationReflection } from "typedoc";
import DocsLayout from "../components/layout/DocsLayout.astro";
import { TitleSection } from "../components/page/TitleSection";

interface Props {
	reflection: DeclarationReflection;
}

const { reflection } = Astro.props;
---

<DocsLayout reflection={reflection}>
	<div class="w-full mb-6 border-b border-gray-300">
		<TitleSection reflection={reflection} />
	</div>
</DocsLayout>
