---
import type { DeclarationReflection } from "typedoc";
import DocsLayout from "../components/layout/Layout.astro";
import { PropertyMembers } from "../components/page/PropertyMembers";
import { TitleSection } from "../components/page/TitleSection";
import { generateMeta } from "../util/generateMeta";
import { reflectionShouldBeRendered } from "../util/reflectionShouldBeRendered";
import { sortReflections as sort } from "../util/sortReflections";

interface Props {
	reflection: DeclarationReflection;
}

const { reflection } = Astro.props;

const properties = sort(
	reflection.children?.filter(reflectionShouldBeRendered) || [],
);
---

<DocsLayout module={reflection.parent} meta={generateMeta(reflection)}>
	<div class="w-full">
		<TitleSection reflection={reflection} />
	</div>
	{
		properties.length ? (
			<h2 class="w-1 h-1 -m-1 overflow-hidden" id="properties">
				Properties
			</h2>
			<div class="w-full pl-4 py-8 border-t border-gray-300">
				<PropertyMembers properties={properties} />
			</div>
		) : null
	}
</DocsLayout>
