---
import type { DeclarationReflection } from "typedoc";
import DocsLayout from "../components/layout/DocsLayout.astro";
import { FunctionDocumentation } from "../components/page/FunctionDocumentation";

interface Props {
	reflection: DeclarationReflection;
}

const { reflection } = Astro.props;
---

<DocsLayout reflection={reflection}>
	<div class="w-full">
		<FunctionDocumentation reflection={reflection} />
	</div>
</DocsLayout>
