---
import type { DeclarationReflection } from "typedoc";
import DocsLayout from "../components/layout/Layout.astro";
import { FunctionDocumentation } from "../components/page/FunctionDocumentation";
import { generateMeta } from "../util/generateMeta";

interface Props {
	reflection: DeclarationReflection;
}

const { reflection } = Astro.props;
---

<DocsLayout module={reflection.parent}>
	<div class="w-full">
		<FunctionDocumentation reflection={reflection} />
	</div>
</DocsLayout>
