---
import type { DeclarationReflection } from "typedoc";
import DocsLayout from "../components/layout/Layout.astro";
import { TitleSection } from "../components/page/TitleSection";
import { generateMeta } from "../lib/util/generateMeta";

interface Props {
	reflection: DeclarationReflection;
}

const { reflection } = Astro.props;
---

<DocsLayout module={reflection.parent} meta={generateMeta(reflection)}>
	<div class="w-full">
		<TitleSection reflection={reflection} />
	</div>
</DocsLayout>
