---
import type { DeclarationReflection } from "typedoc";
import { TitleSection } from "../components/page/TitleSection";
import DocsLayout from "../components/layout/DocsLayout.astro";

interface Props {
	reflection: DeclarationReflection;
}

const { reflection } = Astro.props;
---

<DocsLayout reflection={reflection}>
    <div class="w-full">
        <TitleSection reflection={reflection} />
    </div>
</DocsLayout>
