---
import { type Meta } from "../../lib/util/generateMeta";
import Page from "./Page.astro";

interface Props {
	meta?: Meta;
}

let { meta } = Astro.props;

if (!meta?.title || !meta?.description) {
		meta = {
			...(meta || {}),
			title: "Skyware | Documentation",
			description:
				"Skyware is a collection of libraries for building on Bluesky.",
		};
}
---
<Page meta={meta}>
	<div class="flex flex-row w-full">
		<slot name="sidebar" />
		<main
			class="menu-open:hidden flex-grow min-w-0 w-full p-6 relative overflow-clip"
		>
			<div class="max-w-5xl mx-auto flex flex-row">
				<div class="flex-grow max-w-full">
					<slot />
				</div>
			</div>
		</main>
	</div>
</Page>
