---
import fs from "fs";
import { ChevronRightIcon } from "../assets/icons/ChevronRightIcon";
import { Logo } from "../assets/Logo";
import Page from "../components/layout/Page.astro";
import { join } from "../lib/util/util";

const packages = fs.readdirSync("./packages", { withFileTypes: true }).map(
	(pkg) => {
		if (!pkg.isDirectory()) return;
		const pkgJson = JSON.parse(
			fs.readFileSync(`./packages/${pkg.name}/package.json`, "utf-8"),
		);
		return {
			name: pkgJson.name,
			path: pkgJson.name.replace("@skyware/", ""),
			version: pkgJson.version,
		};
	},
).filter(Boolean);
---
<Page>
	<main
		class="w-full h-screen flex flex-col items-center justify-center gap-8 p-12"
	>
		<Logo className="w-72 sm:w-96 max-w-full fill-accent" />
		<div
			class="w-full max-w-3xl flex flex-col md:flex-row items-center justify-center gap-4"
		>
			{
				packages.map(({ name, path, version }) => (
					<a
						href={join(import.meta.env.BASE_URL, "/docs/", path)}
						class="relative group inline-flex items-center justify-between xs:gap-8 min-w-fit w-full md:w-auto px-4 xs:px-8 py-4 bg-gray-100 hover:bg-gray-300 border border-gray-300 rounded-lg"
					>
						<div class="space-y-2">
							<span class="font-medium text-gray-900 text-xl">{
								name
							}</span>
							<br>
							<span class="font-medium text-gray-700">{
								version
							}</span>
						</div>
						<ChevronRightIcon
							className="w-6 h-6 fill-gray-700 group-hover:fill-gray-900"
							aria-hidden="true"
						/>
					</a>
				))
			}
		</div>
	</main>
</Page>
