---
import { AnchorIcon } from "../../assets/icons/AnchorIcon";
const props = Astro.props;
---

<h1
	{...props}
	class:list={["inline-flex gap-2 items-center scroll-mt-4 group", props.class]}
>
	<slot />
	<a
		class="text-gray-700 hover:text-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"
		href={`#${props.id}`}
		aria-label="Anchor link for heading"
	>
		<AnchorIcon className="h-5 w-5 fill-current" />
	</a>
</h1>
