---
import { AnchorIcon } from "../../assets/icons/AnchorIcon";
const props = Astro.props;
---

<h3
	{...props}
	class:list={["inline-flex gap-2 items-center group scroll-mt-2", props.class]}
>
	<slot />
	<a
		class="text-gray-700 hover:text-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"
		href={`#${props.id}`}
		aria-label="Anchor link for heading"
	>
		<AnchorIcon className="h-3.5 w-3.5 fill-current" />
	</a>
</h3>
