@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist Variable";
    src: url("/web/fonts/GeistVariable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Geist Mono Variable";
    src: url("/web/fonts/GeistMonoVariable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --twoslash-popup-bg: theme("colors.gray.100");
    --twoslash-border-color: theme("colors.gray.300");
    --twoslash-cursor-color: theme("colors.gray.700");
    --twoslash-docs-font: "Geist Variable", system-ui, sans-serif;
    --twoslash-code-font: "Geist Mono Variable", monospace;
}

.twoslash .twoslash-popup-docs {
    @apply text-gray-700 text-docs-aside leading-5 not-italic;
}

.astro-code {
    @apply shiki;
}

pre.shiki, pre.astro-code {
    @apply py-3 px-4 border border-gray-300 bg-gray-100 rounded-lg !important;
}

.shiki[inline=true] {
    @apply inline m-0 p-1 border-none bg-gray-100 w-fit !important;
}
pre.shiki .twoslash-hover {
    @apply static;
}

pre > code > .line > span {
    @apply not-italic !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.gray.300") theme("colors.gray.100");
}

.prose a[href^="http://"]:not([href*="skyware"]),
.prose a[href^="https://"]:not([href*="skyware"]) {
    @apply text-external;
}

.prose a[href^="http://"]:not([href*="skyware"]):after,
.prose a[href^="https://"]:not([href*="skyware"]):after {
    content: ' ↗';
    font-size: 0.75em;
    margin-right: 0.25em;
}
